*{
margin:0px;
padding:0px;
}
.lightbox{
position:fixed;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
pointer-events:none;
background:rgba(0,0,0,.23);
}
.lightbox_modal{
position:absolute;
top:30%;
left:30%;
height:35%;
width:35%;
}
.lightbox.open{
opacity:1;
pointer-events:auto;
}